body{
    background-color: #24353f;
}
.card{
    background-color: #24353f !important;
    --bs-box-shadow-lg:0 1rem 3rem rgba(0, 0, 0, 1);
}
h1{
    color: #17a2b8;
}
.form-control{
    background-color: transparent;
}
.form-control:focus{
    background-color: transparent;
}
input{
    color: #ced4da !important;
}
input::placeholder{
    color: #ced4da !important;
}
a{
    text-decoration: none;
    color: white;
}
.home{
 top: 250px;
 color: #17a2b8;
 text-align: center;
 font-weight: bolder;
}
nav{
    background-color: #24353f !important;
}
.navbar-brand{
    color: #17a2b8 !important;
}